<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|ZCOOL+KuaiLe" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div>
        <h1>Twitter Tweet API</h1>
        <h2>Your Personal website to Tweet Twitter</h2>
        <a href="/auth/twitter"><img src="signup-with-twitter-button.png" alt="sign in with twitter" style="width: 15%;"></a>
    </div>
</body>
</html>